.Rhistory
desktop.ini
agricolture-ita/
cas_in_out/
data/
code/
!code/analysis_lightgbm.py
!code/analysis_neural_networks.py
!data/illustrative_sample/
desktop.ini
materials/
meeting-summary/
*.pdf
*.Rmd
*.md
*.docx
*.log
references/
*.bib
models/
.Rproj.user/
*.xlsx
*.tex